#Para poder llamar a los ficheros sin tener que escribir la extensión.
RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php 

#Para cuando se entre en la carpeta se arranque main.php
DirectoryIndex main.php

#Carga tu propia página de error 404
ErrorDocument 404 /modulo3/proyecto_definitivo_visual/plantillas/404.html